
<div ui-layout class="layout-with-headers">
    <div ui-layout-container >
        <div ui-layout="{flow : 'column'}" >
            <div ui-layout-container  size="30%" class=" html-back" >
                <div style="margin-left: auto;margin-right: auto;width: 100%" class="container-fluid">

                    <div ng-if="!edit.testedImage">
                        <div ng-if="edit.classifier.$isTrained && !edit.classifier.$isRetraining " class="alert alert-success">
                            <strong>Trained!</strong> You can try to classify image in these categories
                            <ul>
                                <li ng-repeat="label in edit.classifier.labels">
                                    {{label.labelName}}
                                </li>
                            </ul>
                        </div>
                        <div ng-if="!edit.classifier.$isTrained  && !edit.classifier.$isRetraining" class="alert alert-warning">
                            <strong>Not trained!</strong> Your must first train you model :(
                        </div>
                        <div ng-if="edit.classifier.$isRetraining" class="alert alert-info">
                            <strong>Training pending</strong> Training session in progress ...
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group ">
                            <label  style="padding-top: 10px"  class="btn btn-default btn-lg btn-block " ng-disabled="!edit.classifier.$isTrained || edit.classifier.$isRetraining">
                                Select .jpeg <input type="file" ng-disabled="!edit.classifier.$isTrained || edit.classifier.$isRetraining"
                                                                     hidden nv-file-select=""
                                                                     style="visibility: hidden;position: fixed;" uploader="edit.predictionUploader" />

                            </label>
                        </div>
                        <div class="btn-group ">
                            <button class="btn btn-info btn-lg btn-block"
                                    ng-disabled="!edit.classifier.$isTrained || edit.classifier.$isRetraining"
                                    ng-click="edit.startFaceTacking()">Face</button>
                        </div>
                    </div>
                    <div class="container-fluid" style="padding-top: 10px" >

                        <div ng-if="!edit.classifier.$isRetraining && edit.classifier.$isTrained">
                            <div class="demo-container" ng-show="edit.showFaceTracker && !edit.testedImage" style="height: 200px">
                                <video id="video-reco" class="track-video" width="300" height="200" preload autoplay loop muted></video>
                                <canvas id="canvas-reco"  class="track-canvas" width="300" height="200"></canvas>
                                <i style="width: 300px; color: white; margin-top: 10%; font-size: 6em; opacity: 0.7;" ng-if="edit.classifyFacePending" class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>

                            </div>
                            <div   class="col-md-12 col-xs-12"  ng-if="edit.testedImage" >
                                <div style="position: absolute; width: 100%; height: 100%;" ng-if="!edit.testedImage.response">
                                    <i style="width: 100%; color: white; margin-top: 10%; font-size: 6em; opacity: 0.7;" class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>
                                </div>
                                <div style="width: 100%;" class="imageToClassify" ng-thumb="{ file: edit.testedImage.file, height: 200 }"></div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="container-fluid">
                                    <ul class="list-group">

                                        <li class="list-group-item"  ng-repeat="result in edit.recoResult | orderBy:'score':true">
                                            <h3 ng-if="$index == 0">{{result.label.labelName}} : score  ({{result.score}})</h3>
                                            <p ng-if="$index != 0">{{result.label.labelName}} ({{result.score}})</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ui-layout-container class="css-back" >
                <div ng-if="edit.takePhoto" style="border-radius:10px; border:#ccc solid 1px;height: 230px; width: 100%; position: absolute; z-index: 999; background: white;">
                    <i ng-click="edit.closePictureManger()" style="top: 0; right: 0; position: absolute; margin: 10px; cursor: pointer;" class="fa fa-times" aria-hidden="true"></i>
                    <div class="container-fluid">
                        <div class="col-xs-6 col-md-6">
                            <div class="demo-frame" ng-init="edit.initTrackingJs()">
                                <div class="demo-container">
                                    <video id="video" class="track-video" width="300" height="200" preload autoplay loop muted></video>
                                    <canvas id="canvas"  class="track-canvas" width="300" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <h2>{{edit.cameraImageCount}}</h2>
                            <button class="btn btn-success "  style="float:right;" ng-click="edit.startSendingCamera()">shoot</button>

                        </div>
                    </div>
                </div>
                <div style="height: 230px; width: 100%; position: absolute; z-index: 99; background: white;">

                    <div class="container-fluid">
                        <h3>Classification labels</h3>

                        <button class="btn btn-success" ng-click="edit.addLabel()">Add Label you wan to classify</button>
                        or select an existing one
                        <label>
                            <select ng-model="edit.currentLabel" class="form-control"
                                    ng-options="label.labelName  for label in edit.classifier.labels">
                            </select>
                        </label>


                        <div ng-if="edit.currentLabel" >
                            <h3>Selected label : {{edit.currentLabel.labelName}}</h3>

                            <!--<div    ng-init="edit.refreshUploadUrl()"
                                 class="well my-drop-zone col-md-6 col-xs-6"
                                 nv-file-over="" uploader="edit.uploader"
                                 multiple>

                            </div>-->

                            <div nv-file-drop=""   ng-init="edit.refreshUploadUrl()" uploader="edit.uploader" acce>
                                <div nv-file-over="" uploader="edit.uploader"
                                     over-class="another-file-over-class"
                                     class="well my-drop-zone col-md-6 col-xs-6">
                                    Drop your .jpg files here
                                    <span ng-repeat="item in edit.uploader.queue">
                                        <div class="progress" ng-if="item.isUploading"style="margin-bottom: 0;">

                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class=" col-md-6 col-xs-6" >
                                <button type="button" ng-click="edit.openPictureManager()" class="btn btn-default  btn-lg btn-block">Take pictures</button>
                            </div>

                        </div>
                    </div>

                </div>
                <div style="height: 100%;width: 100%;overflow-x: hidden;overflow-y:auto;padding-top:230px;">

                    <div masonry>
                        <div class="masonry-brick" ng-repeat="imageFile in edit.currentLabel.imageFiles">
                            <img style="margin: 5px;" ng-src="{{edit.getImageUrl(imageFile)}}" width="250" alt="A masonry brick">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div ui-layout-container size="30%" >
        <div class="btn-group btn-group-justified" role="group" aria-label="...">


            <div class="btn-group" role="group">
                <button type="button" ng-click="edit.trainClassifier()" class="btn btn-default  btn-lg btn-block">Train classifier</button>
            </div>

        </div>

        <ul class="list-group">
            <li ng-repeat="log in edit.retrainLogs | orderBy:'dateTime':true" class="list-group-item ">{{log.text}}</li>
        </ul>

    </div>

</div>