

<div  ui-view class="fill-height">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-4"  ng-repeat="classifier in home.classifiers">
                <div class="thumbnail" style="height: 230px">
                    <div class="caption">
                        <h2>
                            {{classifier.classifierLabel}}
                            <i style="font-size: 10px" class="glyphicon glyphicon-pencil" ng-click="home.updateProjectName(project,$event,$index)"></i>
                        </h2>

                        <p>
                            <a  class="btn btn-primary" ui-sref="home.edit({id: classifier.classifierId})" role="button">Edit</a>
                            <a  class="btn btn-danger" ng-click="project.$drop();home.projectService.refresh()" role="button">Drop</a>

                        </p>
                        <div ng-if="classifier.$isTrained && !classifier.$isRetraining " class="alert alert-success">
                            <strong>Trained!</strong> has been trained successfully :)
                        </div>
                        <div ng-if="!classifier.$isTrained  && !classifier.$isRetraining" class="alert alert-warning">
                            <strong>Not trained!</strong> has never be trained :s
                        </div>
                        <div ng-if="classifier.$isRetraining" class="alert alert-info">
                            <strong>Training pending</strong> Training session in progress ...
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 ">
                <a  style="height: 230px;display: block;position: relative;"
                    class="btn btn-default btn-sm"
                    ng-click="home.createNewProject()"
                    href="#">
                    <i style="font-size: 60px;padding-top: 60px;" class="fa fa-plus fa-align-justify"></i>
                </a>
            </div>

        </div>
    </div>
</div>