<div ng-controller="MainController as main">


    <div ui-layout>

        <div ui-layout-container >
            <div ui-layout="{flow : 'column'}" >
                <div ui-layout-container class=" html-back" >

                    <uib-tabset active="active" style="height: 100%">
                        <uib-tab  ng-repeat="compose in main.project.composes"
                                  index="$index"
                                  heading="{{compose.name}}">
                            <ui-codemirror ui-codemirror-opts="main.editorOptions"
                                           ng-model="compose.yaml">

                            </ui-codemirror>

                        </uib-tab>
                    </uib-tabset>




                </div>
                <div ui-layout-container class=" css-back" >
                    <kr-vis-network json-compose="main.project.getCompose()"
                                    options="main.options"
                                    height="50%" >
                    </kr-vis-network>

                </div>
            </div>
        </div>
        <div ui-layout-container >

            <label  ng-if="!main.project.getCompose()" class="btn btn-primary btn-lg btn-block btn-file">
                Browse <input type="file" multiple accept=".yml"  kr-file-select get-file="main.getFile(files)" class="hidden">

            </label>
            <button  ng-if="main.project.getCompose()"  ng-click="main.downloadYaml()" class="btn btn-success btn-lg btn-block ">
                Download
                <a id="downloadAnchorElem{{$index}}"
                   ng-repeat="compose in main.project.composes"
                   href="data:text/yaml;charset=utf-8,{{compose.yaml | encodeURI}}"
                   download="{{compose.name}}"
                   style="display:none"></a>
            </button>
            <ul class="list-group">
                <li ng-repeat="log in main.logService.history" class="list-group-item list-group-item-{{log.type}}">{{log.message}}</li>
            </ul>

        </div>

    </div>


</div>