

.imageToClassify {
  canvas {
    width: 100%;
  }
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; }

.track-video, .track-canvas {

    position: absolute;
  }